<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMjvX38j3XhJ6nvQ5q8UWmn7qKOssvGJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>227706015278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mikrotikApi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>camp-fi-a2be7</string>
	<key>STORAGE_BUCKET</key>
	<string>camp-fi-a2be7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227706015278:ios:f35211ca0af21b087ed9bf</string>
	<key>DATABASE_URL</key>
	<string>https://camp-fi-a2be7-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>